body {
    display: flex;
    flex-direction: row;
    background: rgb(121, 202, 216)
}

.lateral {
    display: flex;
    flex-direction: column;
    background: rgb(22, 41, 59);
    width: 200px;
    height: 900px;
    border-radius: 15px 0px 0px 15px;
}

.lateral ul {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald';
    margin-top: 80px;
}

.lateral a {
    text-decoration: none;
    color: rgb(64, 171, 243);
    font-size: 30px;
    margin-bottom: 60px;
}

.lateral li {
    all: unset;
    margin-bottom: 10px;
}

.center1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 900px;
    margin-left: 10px;
    background-image: url(./imagens/background4.jpg);
    border-radius: 0px 15px 15px 0px;
}

.fundo {
    background-color: rgba(250, 235, 215, 0.6);
    margin-left: 100px;
    width: 90%;
    height: 90%;
    margin-top: 40px;
    border-radius: 15px;
}

.fundo img {
    position: absolute;
    border-radius: 15px;
    margin-top: 40px;
    margin-left: 1180px;
    border: solid 2px rgb(22, 41, 59);
}

.fundo h2 {
    font-size: 30px;
    color: rgb(24, 60, 85);
    font-weight: bold;
}

.texto {
    color: rgb(60, 109, 141);
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    font-family: 'Oswald';
    margin-left: 760px;
    margin-top: 30px;
}

.texto2 {
    color: rgb(60, 109, 141);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Oswald';
    margin-left: 100px;
    margin-top: 40px;
}

.texto3 {
    color: rgb(60, 109, 141);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Oswald';
    margin-left: 100px;
}

.texto4 {
    color: rgb(60, 109, 141);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Oswald';
    margin-left: 100px;
}

.texto5 {
    position: absolute;
    color: rgb(60, 109, 141);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Oswald';
    margin-left: 1360px;
    margin-top: -300px;
    text-align: right;
}