body {
    display: flex;
    flex-direction: row;
    background: rgb(121, 202, 216)
}

.lateral {
    display: flex;
    flex-direction: column;
    background: rgb(22, 41, 59);
    width: 200px;
    height: 900px;
    border-radius: 15px 0px 0px 15px;
}

.lateral ul {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald';
    margin-top: 80px;
}

.lateral a {
    text-decoration: none;
    color: rgb(64, 171, 243);
    font-size: 30px;
    margin-bottom: 60px;
}

.lateral li {
    all: unset;
    margin-bottom: 10px;
}

.center1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 900px;
    margin-left: 10px;
    background-image: url(./imagens/background3.jpg);
    border-radius: 0px 15px 15px 0px;
}

.fundo {
    background-color: rgba(250, 235, 215, 0.4);
    margin-left: 100px;
    width: 90%;
    height: 90%;
    margin-top: 40px;
    border-radius: 15px;
}

.fundo h2 {
    font-family: 'Oswald';
    margin-left: 50px;
    color: rgb(39, 75, 99);
    font-size: 40px;
    font-weight: bold;
}

.fundo img {
    margin-left: 50px;
}

.fundo p {
    font-family: 'Oswald';
    margin-left: 50px;
    margin-top: 260px;
    color: rgb(39, 75, 99);
    font-size: 25px;
    font-weight: bold;
}