body {
    background: rgb(2, 1, 42);
    background-image: url('../assets/background.svg');
 
}
.head {
    display: flex;
    flex-direction: row;
}
.eu {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgb(253, 253, 253, 0.7);
    border-radius: 20px;
    box-shadow: 0 20px 20px 0 rgb(5, 2, 32);
}
.eu img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid rgb(13, 13, 102);
    margin-top: 35px;
    margin-left: 35px;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 200px;
    height: 400px;
    margin-left: 30px;
    margin-top: 280px;
    background-color: rgb(253, 253, 253, 0.7);
    border-radius: 20px;
    box-shadow: 0 20px 20px 0 rgb(5, 2, 32);
    cursor: pointer;
}
.menu a {
    all: unset;
    display: flex;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    color:rgb(13, 13, 102);
    font-size: 24px;
    margin-left: 30px;
    margin-top: 20px;
    cursor: pointer;
}
.menu a:hover{
        color: rgb(221, 99, 28);
}
.center {
    position: absolute;
    width: 1500px;
    height: 3330px;
    background-color: rgb(253, 253, 253, 0.7);
    border-radius: 20px;
    box-shadow: 0 20px 20px 0 rgb(5, 2, 32);
    margin-left: 300px;
    margin-top: 30px;
    opacity: 0.9;
}   
.center img {
    width: 1400px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 20px;
}